<div style="width: 350px; align:center">
  <div style="padding-left:20px;">
    <div class="FL text_label">First Name</div>
    <div class="FL text_field1"> <%= @contact.fname %></div>
    <div class="clear clear_height"></div>
    <div class="FL text_label">Last Name</div>
    <div class="FL text_field1"> <%= @contact.lname  %></div>
    <div class="clear clear_height"></div>

    <div class="FL text_label">Address</div>
    <div class="FL text_field1"> <%= @contact.address %></div>
    <div class="clear clear_height"></div>

    <div class="FL text_label">City</div>
    <div class="FL text_field1"> <%= @contact.city  %></div>
    <div class="clear clear_height"></div>
  </div>
</div>